name: Build and Publish NuGet Package

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+' # regex for semantic versioning

jobs:
  publish:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.x'

    - name: Replace <br> in README.md with two spaces for nuget.org
      run: |
        $content = Get-Content -Path README.md -Raw
        $content = $content -replace "<br>", "  "
        Set-Content -Path README.md -Value $content    

    - name: Run combineIntoOneFile.fsx
      # to avoid race condition in Build on combineIntoOneFile.fsx writing to AllScriptingFilesCombinedIntoOne_DontEditThisFile.fs
      run: |
        dotnet fsi combineIntoOneFile.fsx

    - name: dotnet build
      # build target frameworks net48 and net7.0 separately to avoid race conditions in combineIntoOneFile.fsx
      run: |
          dotnet build ForPublishing.fsproj -c Release 

    - name: Check version consistency of git tag and CHANGELOG.md
      # needs in fsproj:
      # <Target Name="WriteChangelogVersion" AfterTargets="AfterBuild"><!-- for version checks in github tag based builds -->
      #   <WriteLinesToFile File="./bin/ChangelogVersion.txt" Lines="@(CurrentReleaseChangelog)" Overwrite="true" ContinueOnError="false" />
      # </Target>
      id: check_version
      shell: bash
      run: |
        CHANGELOG_VERSION=$(cat ./bin/ChangelogVersion.txt | tr -d '[:space:]')        
        if [ "${{ github.ref_name }}" != "$CHANGELOG_VERSION" ]; then
          echo "Version mismatch: git tag (${{ github.ref_name }}) and version in CHANGELOG.md ($CHANGELOG_VERSION) are not the same."
          exit 1
        fi 
        echo "CHANGELOG_VERSION=$CHANGELOG_VERSION"
        echo "github.ref_name=${{ github.ref_name }}"  
        echo "Version check of git tag and CHANGELOG.md passed successfully." 

    - name: Push NuGet package to nuget.org
      run: |
        dotnet nuget push `
        ./bin/Release/Rhino.Scripting.${{ github.ref_name }}.symbols.nupkg `
        --api-key ${{ secrets.NUGET_API_KEY }} `
        --source https://api.nuget.org/v3/index.json